<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container" >
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <div class="container">
        <section id="page" class="jumbotron">
          <%= yield %>
          <% content_for :stylesheets do %>
            <% if @page.background_image.present? %>
            <style type="text/css">
              body {
                background-image: url(<%= @page.background_image.url -%>);
              }
            </style>
            <% end %>
            <% end %>
        </section>
      </div>
      <footer id="footer">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
